/* bakgrunnfarge */
body {
    background-color: rgb(233, 219, 202);
}

/* header plassering */
header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
}

.img-icon {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.logo {
    width: 200px;
    margin-left: 20px;
}

.space_between {
    display: flex;
    justify-content: space-between;
}

.søke_input {
    margin-right: 20px;
    padding: 3px;

}

/* menu drop down */

.menu-container {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 2px solid rgb(205, 166, 114);
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border: 2px solid rgb(232, 232, 232);
}

.menu-container:hover .dropdown-content {
    display: block;
}

/* sentrer inholldet */
.center {
    display: flex;
    justify-content: center;
}



.oppskrift_kategorier {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
}

.kategori_overskrift {
    display: flex;
    justify-content: center;
    font-size: 27px;
}

.matkategori {
    margin: 8px;
    font-size: 20px;
    font: bold;
    text-decoration: underline;
    color: rgb(8, 8, 54);
    cursor: pointer; 
}

/* plassering av oppskriftene */
.product-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10%;
    margin-top: 30px;
}


/* lger oppskrift boksen */
.recipie {
    width: 100%;
    padding: 10px;
    margin: 20px;
    border: 3px solid #aa7c19;
    border-radius: 5px;
    background-color: rgb(234, 186, 118);
    text-align: center;
}

/* lager bilde boxen */
.img-box {
    width: 60%;
    height: auto;
}

/* setter avstand og størrelse på teksten */
.price {
    margin-top: 5px;
    font-weight: bold;
}

/* setter maks størrelsen på bildet */
img.maxwidth {
    max-width: 100%;
}

/* lager utsendet for knappen */
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}



/* input design */
input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.input_background {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.bilde_tittel {
    font-size: 24px;
    color: #411d01;
}

/* oppskrift side */
.oppskrift {
    width: 450px;
    height: 450px;
    margin: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
    background-color: rgb(234, 186, 118);
    border: 3px solid #aa7c19;
    border-radius: 8px;
}

.search-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}

.search_and_suggestions {
    width: 250px;
}

.suggestions {
    display: grid;
    position: absolute;
    word-wrap: normal;
    width: 250px;
    background-color: #e5bfa1;
    border: 1px solid rgb(104, 75, 0);
}

.search-container {
    position: relative;
}

.search-suggestion-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.search-suggestion-item:hover {
    background-color: #f0f0f0;
}

.suggestion_img_maxwidth {
    max-height: 50px;
}

#searchButton {
    border: none;
    background: none;
    padding: 0;
}


/* css for faq */
/* dette er ikke min css jeg fikk den fra denne siden */
/* https://niemvuilaptrinh.medium.com/20-example-faq-component-for-website-development-abcfaf032c40 */

@import url(https://fonts.googleapis.com/css?family=Raleway);



.faq-header {
    font-size: 42px;
    padding: 24px;
}

.faq-content {
    margin: 0 auto;
}

.faq-question {
    padding: 20px 0;
    max-width: 800px;
}

.panel-title {
    font-size: 24px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
}

.panel-content {
    font-size: 20px;
    padding: 0px 14px;
    margin: 0 40px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.panel:checked~.panel-content {
    height: auto;
    opacity: 1;
    padding: 14px;
}

.plus {
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
    z-index: 5;
    font-size: 42px;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.panel:checked~.plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.panel {
    display: none;
}

.error-message {
    padding: 10px;
    background-color: rgb(245, 109, 109);
    border-radius: 5px;
}



/* star rating system css */

/* https://codepen.io/josetxu/pen/jOYYmVZ hentet herfra 
https://freefrontend.com/css-star-ratings/  */
body * {
    box-sizing: border-box;
}
/* Legg til en unik klasse til rating-containeren */
.rating-container {
    margin: 20px;
    margin-top: 50%;
}

.rating-container .rating-stars {
    display: block;
    width: 50vmin;
    padding: 1.75vmin 10vmin 2vmin 3vmin;
    background: linear-gradient(90deg, #ffffff90 40vmin, #fff0 40vmin 100%);
    border-radius: 5vmin;
    position: absolute;
}

.rating-container .rating-counter {
    font-size: 5.5vmin;
    font-family: Arial, Helvetica, serif;
    color: #9aacc6;
    width: 10vmin;
    text-align: center;
    background: #0006;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 0 5vmin 5vmin 0;
    line-height: 10vmin;
}

.rating-container .rating-counter:before {
    content: "0";
    transition: all 0.25s ease 0s;
}

.rating-container input {
    display: none;
}

.rating-container label {
    width: 5vmin;
    height: 5vmin;
    background: #000b;
    display: inline-flex;
    cursor: pointer;
    margin: 0.5vmin 0.65vmin;
    transition: all 1s ease 0s;
    clip-path: polygon(50% 0%, 66% 32%, 100% 38%, 78% 64%, 83% 100%, 50% 83%, 17% 100%, 22% 64%, 0 38%, 34% 32%);
}

.rating-container label[for=rs0] {
    display: none;
}

.rating-container label:before {
    width: 90%;
    height: 90%;
    content: "";
    background: orange;
    z-index: -1;
    display: block;
    margin-left: 5%;
    margin-top: 5%;
    clip-path: polygon(50% 0%, 66% 32%, 100% 38%, 78% 64%, 83% 100%, 50% 83%, 17% 100%, 22% 64%, 0 38%, 34% 32%);
    background: linear-gradient(90deg, yellow, orange 30% 50%, #184580 50%, 70%, #173a75 100%);
    background-size: 205% 100%;
    background-position: 0 0;
}

.rating-container label:hover:before {
    transition: all 0.25s ease 0s;
}

.rating-container input:checked+label~label:before {
    background-position: 100% 0;
    transition: all 0.25s ease 0s;
}

.rating-container input:checked+label~label:hover:before {
    background-position: 0% 0
}

.rating-container #rs1:checked~.rating-counter:before {
    content: "1";
}

.rating-container #rs2:checked~.rating-counter:before {
    content: "2";
}

.rating-container #rs3:checked~.rating-counter:before {
    content: "3";
}

.rating-container #rs4:checked~.rating-counter:before {
    content: "4";
}

.rating-container #rs5:checked~.rating-counter:before {
    content: "5";
}

.rating-container label+input:checked~.rating-counter:before {
    color: #ffab00 !important;
    transition: all 0.25s ease 0s;
}

.rating-container label:hover~.rating-counter:before {
    color: #9aacc6 !important;
    transition: all 0.5s ease 0s;
    animation: pulse 1s ease 0s infinite;
}


.rating-container label[for=rs1]:hover~.rating-counter:before {
    content: "1" !important;
}

.rating-container label[for=rs2]:hover~.rating-counter:before {
    content: "2" !important;
}

.rating-container label[for=rs3]:hover~.rating-counter:before {
    content: "3" !important;
}

.rating-container label[for=rs4]:hover~.rating-counter:before {
    content: "4" !important;
}

.rating-container label[for=rs5]:hover~.rating-counter:before {
    content: "5" !important;
}

.rating-container input:checked:hover~.rating-counter:before {
    animation: none !important;
    color: #ffee00 !important;
}
